[build]
  publish = "."
  command = "npm install"

[build.environment]
  NODE_VERSION = "18"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/"
  to = "/demo/"
  status = 302
  force = true
